@model QuanLyHocSinhTHPT.Models.DIEMSO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có muốn xóa không?</h3>

<div>
    <h1 class="header">ĐIỂM SỐ</h1>
    <hr />
    <dl class="dl-horizontal">
        <div class="dl-control">
            <dt>
                @Html.DisplayNameFor(model => model.DIEMKTMIENG)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DIEMKTMIENG)
            </dd>
        </div>

        <div class="dl-control">
            <dt>
                @Html.DisplayNameFor(model => model.DIEMKT15PH)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DIEMKT15PH)
            </dd>
        </div>

        <div class="dl-control">
            <dt>
                @Html.DisplayNameFor(model => model.DIEMKT45P)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DIEMKT45P)
            </dd>
        </div>
        <div class="dl-control">
            <dt>
                @Html.DisplayNameFor(model => model.DIEMTHICUOIKY)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DIEMTHICUOIKY)
            </dd>
        </div>


        <div class="dl-control">
            <dt>
                @Html.DisplayNameFor(model => model.DTB)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DTB)
            </dd>
        </div>

        <div class="dl-control">
            <dt>
                @Html.DisplayNameFor(model => model.HOCSINH.HOTENHOCSINH)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HOCSINH.HOTENHOCSINH)
            </dd>
        </div>
        <div class="dl-control">
            <dt>
                @Html.DisplayNameFor(model => model.LOP.TENLOP)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LOP.TENLOP)
            </dd>
        </div>
        <div class="dl-control">
            <dt>
                @Html.DisplayNameFor(model => model.MONHOC.TENMONHOC)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MONHOC.TENMONHOC)
            </dd>
        </div>
        <div class="dl-control">
            <dt>
                @Html.DisplayNameFor(model => model.HOCKY.TENHOCKY)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HOCKY.TENHOCKY)
            </dd>
        </div>


    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Xóa" class="btn btn-default" />
        @Html.ActionLink("Quay lại", "Index")
    </div>
}


