@model QuanLyHocSinhTHPT.Models.GIAOVIEN

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thêm</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h1>GIÁO VIÊN</h1>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.MAGIAOVIEN)
            @Html.EditorFor(model => model.MAGIAOVIEN)
            @Html.ValidationMessageFor(model => model.MAGIAOVIEN, "", new { @style = "color:red;display: inline-block;padding-left: 150px; !important" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TENGIAOVIEN)
            @Html.EditorFor(model => model.TENGIAOVIEN)
            @Html.ValidationMessageFor(model => model.TENGIAOVIEN, "", new { @style = "color:red;display: inline-block;padding-left: 150px; !important" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MAGIOITINH, "Giới tính")
            @Html.DropDownList("MAGIOITINH", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MAGIOITINH, "", new { @style = "color:red;display: inline-block;padding-left: 150px; !important" })
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.DIACHI)
            @Html.EditorFor(model => model.DIACHI)
            @Html.ValidationMessageFor(model => model.DIACHI, "", new { @style = "color:red;display: inline-block;padding-left: 150px; !important" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DIENTHOAI)
            @Html.EditorFor(model => model.DIENTHOAI, new { htmlAttributes = new { @type = "number", @min = "0", @step = "1", @value = "0", @style = "width: 350px;float: right;padding: 5px 0; " } })
            @Html.ValidationMessageFor(model => model.DIENTHOAI, "", new { @style = "color:red;display: inline-block;padding-left: 150px; !important" })
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.DIENTHOAI)
            @Html.EditorFor(model => model.DIENTHOAI, new { htmlAttributes = new { @style = "width: 350px;padding: 5px;float: right;" } })
            @Html.ValidationMessageFor(model => model.DIENTHOAI, "", new { @style = "color:red;display: inline-block;padding-left: 150px; !important" })
        </div>*@



        <div class="form-group">
            @Html.LabelFor(model => model.MAMONHOC, "Môn học")
            @Html.DropDownList("MAMONHOC", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MAMONHOC, "", new { @style = "color:red;display: inline-block;padding-left: 150px; !important" })
        </div>
        <div class="clr"></div>
        <div class="form-group action">
            <input type="submit" value="Tạo" class="btn btn-default" />
            <a href="@Url.Action("Index")"><i class="fas fa-backward"></i> Quay lại</a>
        </div>
    </div>
}

